[Interface]
# The address your computer will use on the VPN
Address = {{ hostvars[inventory_hostname].vpn_ip }}/32

# Load your privatekey from file
PostUp = wg set %i private-key /etc/wireguard/privatekey
# Also ping the vpn server to ensure the tunnel is initialized
PostUp = ping -c1 {{ hostvars['vpn_server'].vpn_ip }}


[Peer]
# VPN server's wireguard public key
PublicKey = {{ server_pubkey }}

# Public IP address of your VPN server
Endpoint = {{ hostvars['vpn_server'].ansible_host }}:{{ port }}

# 10.0.0.0/24 is the VPN subnet
AllowedIPs = {{ wg_subnet }}

PersistentKeepalive = 25
